
<div class="col xl-6 md-6 mb-hide container__course-create">
  <div class="row">
    <div class="col xl-max md-max container__course-create-title">Đăng khóa học tại F8</div>
  </div>
  <form class="row xl-warp md-wrap" method="POST" action="/courses/store/add">
    <label for="mediaId" class="col xl-max md-max container__course-create-label">Media ID</label>
    <input 
      class="col xl-max md-max container__course-create-input" 
      name="mediaId" 
      type="text" 
      placeholder="Nhập mã media" 
    />
    <label for="level" class="col xl-max md-max container__course-create-label">Trình độ</label>
    <select 
      class="col xl-max md-max container__course-create-select" 
      name="level">
    {{#each level}}
      <option value="{{this.type}}">{{this.name}}</option>
    {{/each}}
    </select>
    <label for="name" class="col xl-max md-max container__course-create-label">Tên khóa học</label>
    <input 
      class="col xl-max md-max container__course-create-input"
      name="name"
      type="text" 
      placeholder="Nhập tên khóa học"
    />
    <label for="description" class="col xl-max md-max container__course-create-label">Mô tả khóa học</label>
    <textarea 
      class="col xl-max md-max container__course-create-input" 
      name="description"
      type="text" 
      rows="5"
      placeholder="Nhập mô tả"
    ></textarea>
    <input 
      class="col xl-max md-max btn container__course-create-submit" 
      name="btnCreate" 
      type="submit"
      value="Thêm khóa học"
    />
  </form>
</div>