<ul class="row xl-wrap md-wrap container__courses">
  {{#each courses}}
  <li class="col xl-2_5 md-3_5 container__courses-item">
    <div class="container__courses-item-image" style="background-image: url('{{this.image}}')" alt="{{this.name}}"></div>
    <div class="container__courses-item-name">{{this.name}}</div>
    <div class="container__courses-item-description">{{this.description}}</div>
  </li>
  {{/each}}
</ul>