<div class="col-xl-12 container__search">
  <div class="row">
    <div class="col-xl-2 container__search-icon"></div>
    <div class="col-xl-8 container__search-input"></div>
    <div class="col-xl-2 container__search-button"></div>
  </div>
</div>