<div class="col md-max container__search">
  <form class="row" method="POST">
    <input class="col md-4 container__search-input" name="txtSearch" type="text" placeholder="Nhập từ khóa tìm kiếm ..."></input>
    <input class="col md btn text-link container__search-button" value="Search" type="submit">
  </form>
</div>