.container__courses-item {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    border: 1px solid rgb(238, 237, 237);
    border-radius: 3px;
    cursor: pointer;
}
.container__courses-item:hover {
    opacity: 0.6;
}
.container__courses-item-image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container__courses-item-name {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 10px;
}
.container__courses-item-description {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 66px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin: 5px 0;
}
