.container__search {
}
.container__search-input {
  line-height: 38px;
}
.container__search-button {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
  border: 1px solid #000;
}
