.container__course-create {
}
.container__course-create-title {
    color: rgb(230, 100, 41);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.container__course-create-label {
    font-size: 20px;
    font-weight: 600;
}
.container__course-create-input {
    line-height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgb(221, 236, 245);
}
.container__course-create-textarea {
    margin-bottom: 10px;
    border: 1px solid rgb(221, 236, 245);
}
.container__course-create-select {
    color: rgb(199, 49, 236);
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px 0;
    border: 1px solid rgb(221, 236, 245);
}
.container__course-create-submit {
    background-color: rgb(230, 100, 41);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 2.5;
    text-transform: uppercase;
}
