.container__courses-user {
    .container__courses-user-caption {
        color: rgb(240, 79, 30);
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .container__courses-user-controls {
        text-align: center;
        margin-bottom: 10px;
        // Page Index
        .container__courses-user-controls-create {
            background-color: rgb(241, 116, 33);
            color: #fff;
        }
        .container__courses-user-controls-view-deleted {
            background-color: rgb(40, 69, 236);
            color: #fff;
        }
        .container__courses-user-controls-remove-all {
            background-color: rgb(240, 65, 12);
            color: #fff;
        }
        // Page deleted
        .container__courses-user-controls-view-courses {
            background-color: rgb(46, 143, 8);
            color: #fff;
        }
        .container__courses-user-controls-restore-all {
            background-color: rgb(40, 69, 236);
            color: #fff;
        }
        .container__courses-user-controls-delete-all {
            background-color: rgb(230, 106, 23);
            color: #fff;
        }
    }
    .container__courses-user-heading {
        font-size: 18px;
        font-weight: 600;
        .container__courses-user-heading-item {
            border-bottom: 2.5px solid #000;
        }
    }
    .container__courses-user-table-light {
        background-color: rgba(224, 217, 217, 0.2);
    }
    .container__courses-user-table,
    .container__courses-user-table-light {
        height: 84px;
        cursor: default;

        .container__courses-user-table-item {
            font-size: 16px;
        }
        .container__courses-user-table-item.text-short {
            @include textShort(2);
            font-size: 16px;
        }
        .container__courses-user-table-item--controls {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .container__courses-user-table-item-child {
                color: #fff;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                width: 100%;
                &:nth-child(1) {
                    background-color: rgb(77, 77, 255);
                }
                &:nth-child(2) {
                    background-color: rgb(240, 79, 30);
                }
            }
        }

        &:hover {
            background-color: rgba(224, 217, 217, 0.5);
        }
    }
}
.container__courses-user-table-empty {
    text-align: center;
    margin-top: 20px;
    .container__courses-user-table-empty-show-text {
        font-size: 20px;
        color: rgb(150, 149, 149);
    }
    .container__courses-user-table-empty-show-link {
        background-color: rgb(245, 111, 22);
        color: #fff;
        font-weight: 600;
        padding: 10px 10px;
        border-radius: 5px;
    }
}
